# Ignore node_modules inside aws-build
aws-build/node_modules/

# Ignore VSCode settings folder
.vscode/

# Ignore ansible folder completely inside aws-build (or just specific roles if that's your goal)
aws-build/ansible/roles/github/vars/**

# OR if you truly want to ignore only the vars under a specific role
# aws-build/ansible/roles/github/vars/**

# Ignore top-level .ansible folder
.ansible/
